<mat-card class="check-balance-card" style="display: block;">
    <div id="form-id">
    <mat-card-title>
        User id
    </mat-card-title>
    <mat-card-content>
        <mat-form-field class="full-width">

            <mat-label>id</mat-label>
                <input
               [(ngModel)] = "customerID"
                name="customerID"
                required type="text" matInput/>
        </mat-form-field>
            <div>
            <h3 id="msg" style="display: none;">Customer ID does not exist!</h3>
            </div>
        <mat-card-actions allign="end">
            <button mat-raised-button class="primary1" (click)=getAllTheDetails() >Continue </button>
        </mat-card-actions>
    </mat-card-content>
    </div>


    <div mat-dialog-content style="display: none;" id='anf'>
        <div style="color: green;">
            <h3>Sender ID           :   {{ this.sender.senderID }}</h3>
            <h3>Account Holder Name :   {{ this.sender.accountHolderName }}</h3>
            <h3>Account Balance     :   {{ this.sender.balance }}</h3>
            <h3>Over Draft          :   {{ this.sender.overDraft }}</h3>
        </div><br>

        <mat-form-field class="full-width" >
            <mat-label>BIC</mat-label>
                <input 
               
                name="BIC"
                [(ngModel)] = "bicCode"
                required
                type='text' matInput/>
            
           </mat-form-field>&nbsp;
           <mat-form-field class="full-width">
               <mat-label>name</mat-label>
                   <input
                   name="name"
                   [(ngModel)] = "receiverName"
                   required type='text' matInput/>
                </mat-form-field>&nbsp;
    
                <mat-form-field class="full-width" >
                    <mat-label>Bid</mat-label>
                        <input
                        name="BId"
                        [(ngModel)] = "receiverID"
                        required
                        type='text' matInput/>
                    
                   </mat-form-field>
                  <br>
                  <mat-form-field class="full-width" >
                    <mat-label>type</mat-label>

                        <mat-select placeholder="types" [(ngModel)]="typeOfTransfer" required>
                            <mat-option value="Customer_Transfer">Customer Transfer</mat-option>
                            <mat-option value="Bank_Transfer">Bank Transfer</mat-option>
                        </mat-select>
                    
                   </mat-form-field>
                   &nbsp;
    
                   <mat-form-field class="full-width" >
                    <mat-label>amount</mat-label>
                        <input 
                        name="amount"
                        [(ngModel)] = "Amount"
                        required
                        type='number' min="0" matInput/>
                    
                   </mat-form-field>
                   <br>
                   <br>
                   <div class="container text-center">
                    <button mat-raised-button color="primary" (click)=getPaymentDetails()>
                        submit
                    </button>
                </div>
            </div>


</mat-card>